---
---

#page-list {
    font-size: 1.5rem;
}

#page-list li {
    list-style: none;
}

#page-list li:before {
    content: "\f0a9";
    font-family: FontAwesome;
    margin-right: 15px;
}

.known-pages {
    margin-top: 15px;
}

.jumbotron {
    position: relative;

    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("{{ '/assets/images/404.webp' | relative_url }}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 60vh;

    text-align: right;
    color: white;
}

.jumbotron > .container {
    position: absolute;
    left: 0;
    right: 0;

    bottom: 1rem;
}
