---
---

:root {
    --card-bg: #000;
    --card-fg: {{ page.darkFg }};
}

[data-theme="light"] {
    --card-bg: #fff;
    --card-fg: {{ page.lightFg }};
}

.container .row .card {
    max-width: 300px;
    transition: 0.3s ease-in;
    background-color: var(--card-bg);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.md-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.md-form input {
    background-color: var(--bg) !important;
    color: var(--fg) !important;
    width: 75%;
}

.md-form i {
    font-size: 1.5rem;
    height: auto;

    margin: auto 10px;
}

.container .row .card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.container .row .card .card-body a {
    width: 0;
    height: 0;
}

#not-found {
    text-align: center;
    font-size: 1.5rem;
}

@media (max-width: 600px) {
    .md-form input {
        width: 85%;
    }
}

@media (max-width: 460px) {
    .md-form input {
        width: 100%;
    }
}
