---
---

:root {
    --card-bg: #000;
    --card-fg: {{ page.darkFg }};
}

[data-theme="light"] {
    --card-bg: #fff;
    --card-fg: {{ page.lightFg }};
}

.container .row .card {
    max-width: 300px;
    transition: 0.3s ease-in;
    background-color: var(--card-bg);
}

.md-form input {
    background-color: var(--bg) !important;
    color: var(--fg) !important;
}

.container .row .card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.container .row .card .card-body a {
    width: 0;
    height: 0;
}

#not-found {
    text-align: center;
    font-size: 1.5rem;
}
