---
---

:root {
    --fg: {{ page.darkFg }};
    --bg: {{ page.darkBg }};

    --navbar-height: {{ page.navbarHeight }};
}

[data-theme="light"] {
    --fg: {{ page.lightFg }};
    --bg: {{ page.lightBg }};
}

body {
    padding-top: var(--navbar-height);
    font-family: 'Lato', sans-serif;

    background-color: var(--bg);
    color: var(--fg);

    display: flex;
    flex-direction: column;

    width: 100%;
}

a {
    color: #33a2ff;
}

html, body {
    height: 100%;
}

.content {
    width: 100%;
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}
