---
---

:root {
    --bg: {{ page.darkBg }};
    --fg: {{ page.darkFg }};

    --navbar-height: {{ page.navbarHeight }};
    --navbar-color: {{ page.darkBg }};
}

[data-theme="light"] {
    --bg: {{ page.lightBg }};
    --fg: {{ page.lightFg }};
}

#navbar {
    height: var(--navbar-height);
    background-color: var(--navbar-color);
}

@keyframes slide {
    0% {
        width: 0;
        height: 0;
    }

    60% {
        width: 340px;
    }

    100% {
        width: 320px;
    }
}

.modal.left .modal-dialog {
    position: fixed;
    margin: auto;

    width: 320px;
    height: 100%;

    transform: none;

    animation-name: slide;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal.left .modal-content {
    height: 100%;
    overflow-y: auto;

    border-radius: 0;
    border: none;

    background-color: var(--bg);
    color: var(--fg);
}

.modal.left .modal-header {
    border-bottom-color: var(--fg);
}

.modal.left .modal-header .close {
    color: var(--fg);
}

.nav-icon {
    margin-right: 0.2rem;
    font-size: 24px;
}

@media (max-width: 991px) {
    .nav-desc {
        font-size: 0.9rem;
    }

    .navbar-nav hr {
        width: 100%;
        border-color: var(--fg);
        opacity: 0.5;
    }
}

@media (min-width: 992px) {
    .nav-desc {
        display: none;
    }

    .nav-link:hover + .nav-desc {
        display: block;

        position: absolute;
        top: var(--navbar-height);

        width: 300px;
        padding: 1rem;

        background: rgba(0, 0, 0, 0.75);
        color: white;
    }
}
