---
---

.jumbotron {
    position: relative;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 75vh;

    text-align: right;
    color: white;
}

.jumbotron > .container {
    position: absolute;
    left: 0;
    right: 0;

    bottom: 1rem;
}

.blockquote {
    padding: 3px 3px 3px 15px;
    border-left: 3px solid gray;
    font-size: 1.1rem;
    background-color: rgba(255, 255, 255, 0.03);
}

#post-body {
    font-size: 1.25rem;
}

.section-header {
    text-transform: uppercase;
    font-family: 'Bebas Neue';
}

h1,h2,h3,h4,h5,h6 {
    color: white;
}

h1.section-header {
    font-size: 4rem;
}

pre.highlight {
    padding: 15px;
}

.suggested {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-top: 1px solid gray;
    border-bottom: 1px solid gray;

    height: 250px;

    padding: 2rem 0;
    margin: 3rem auto;
}

.suggested div {
    position: relative;

    margin: 1rem;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    transition: 0.3s ease-in;
}

.suggested div:hover {
    transform: scale(1.05);
}

.suggested div span {
    position: absolute;
    bottom: 15px;
    right: 15px;
}
