---
layout: page
permalink: /snippets/tags.html
title: Snippets tags
---

<div class="container">
  {% assign tags =  site.snippets | map: 'tags' | uniq | sort %}

  {% for tag in tags %}
    <h2 id="{{ tag }}">{{ tag }}</h2>
    <ul>
      {% for snippet in site.snippets %}
        {% if snippet.tags contains tag %}
          <li><a href="{{ snippet.url | relative_url }}">{{ snippet.snippetTitle }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    <hr class="w-75 mx-auto" style="background-color: gray; height: 1px; border: 0;">
  {% endfor %}
</div>
