<link rel="stylesheet" href="{{ '/css/footer.css' | relative_url }}">

<footer class="footer fixed-bottom">
  <div class="container d-flex flex-row justify-content-between">
    <span class="d-flex align-items-center">Yoogottam Khandelwal</span>
    <span>
      <ul class="list-unstyled list-group list-group-horizontal">
        {% for p in site.data.footer['presence'] %}
          <li class="icon-li"><a href="{{ p.url }}" target="_blank" rel="noopener"><i class="fa {{ p.icon }}"></i></a></li>
        {% endfor %}
      </ul>
    </span>
  </div>

  <div class="container credits w-100 text-right">
    {% if page.credits %}
      <hr>
      Pictures from
    {% endif %}
    {% for credit in page.credits %}
      <ul class="list-unstyled">
        <li><a href="{{ credit[1] }}" target="_blank" rel="noopener">{{ credit[0] }}</a></li>
      </ul>
    {% endfor %}
  </div>
</footer>
