<head>
  <meta charset="UTF-8">
  <meta name="language" content="english">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="content-type" content="text/html">
  <meta name="author" content="Yoogottam Khandelwal">
  <meta name="designer" content="Yoogottam Khandelwal">

  {% if page.layout == "post" %}
    <meta property="og:title" content="{{ page.blogTitle }}">
    <meta property="og:image" content="{{ page.blogImage | prepend: '/assets/images/posts/' | prepend: site.url }}">
    <meta property="og:description" content="{{ page.content | strip_html | strip_newlines | truncatewords: 30 }}">
  {% endif %}
  {% if page.layout == "project" %}
    <meta property="og:title" content="{{ page.projectTitle }}">
    <meta property="og:image" content="{{ page.projectImage | prepend: '/assets/images/projects/' | prepend: site.url }}">
    <meta property="og:description" content="{{ page.content | strip_html | strip_newlines | truncatewords: 30 }}">
  {% endif %}
  {% if page.layout == "project" %}
    <meta property="og:title" content="{{ page.snippetTitle }}">
    <meta property="og:description" content="Useful code snippets">
  {% endif %}

  <meta property="og:url" content="{{ site.url | append: page.url }}">

  <title>{{ page.title }} | yoogottamk</title>

  {% include libraries.html %}

  <link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}" />
  <link rel="stylesheet" href="{{ '/css/copy-code.css' | relative_url }}">
  <link rel="shortcut icon" href="{{ '/assets/images/yoogottamk.webp' | relative_url }}" type="image/x-icon" />
</head>
