<!-- custom css for managing navbar -->
<link rel="stylesheet" href="{{ '/css/navbar.css' | relative_url }}" />
<script src="{{ '/js/navbar.js' | relative_url }}"></script>

<nav id="navbar" class="navbar navbar-expand-lg navbar-dark fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="modal" data-target="#navbarContentSmall" aria-label="Show/hide navbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="{{ '/' | relative_url }}">
    <img src="{{ '/assets/images/yoogottamk.webp' | relative_url }}" alt="yk logo" width="30" height="30">
    yoogottamk
  </a>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav ml-auto">
      {% assign links = site.data.navigation %}
      {% for link in links %}
        <li class="nav-item">
          <a class="nav-link {% if page.url contains link.url %}active{% endif %}" href="{{ link.url | relative_url }}">
            <i class="fa {{ link.icon }} nav-icon align-middle" aria-hidden="true"></i>
            <span class="align-middle">{{ link.title }}</span>
          </a>
          <div class="nav-desc">{{ link.description }}</div>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>

<div class="modal left fade" id="navbarContentSmall" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>yoogottamk</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <ul class="navbar-nav ml-auto">
          {% for link in links %}
            <li class="nav-item">
              <a class="nav-link" href="{{ link.url | relative_url }}">
                <i class="fa {{ link.icon }} nav-icon align-middle" aria-hidden="true"></i>
                {{ link.title }}
              </a>
              <div class="nav-desc">{{ link.description }}</div>
            </li>
            <hr>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
