---
layout: page
---

<link rel="stylesheet" href="{{ site.baseurl }}/css/post.css">
<link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

<div class="jumbotron jumbotron-fluid"
     style='background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("{{ site.baseurl }}/assets/images/{{ page.blogImage }}");'>
  <div class="container">
    <h1>{{ page.blogTitle }}</h1>
    {{ page.date | date: '%B %d, %Y' }}
  </div>
</div>

<div class="container" id="post-body">
  {{ content }}

  <div class="suggested row">
    {% if page.previous.url %}
    <div class="col-md-4 col-sm-12"
      style="background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('{{ site.baseurl }}/assets/images/{{ page.previous.blogImage }}')">
      <a class="prev stretched-link" href="{{page.previous.url}}"></a>
      <span class="post-title">&laquo; {{ page.previous.blogTitle }}</span>
    </div>
    {% else %}
      <div class="col-md-offset-4"></div>
    {% endif %}

    {% if page.next.url %}
    <div class="col-md-4 col-sm-12"
      style="background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url('{{ site.baseurl }}/assets/images/{{ page.next.blogImage }}')">
      <a class="prev stretched-link" href="{{ page.next.url }}"></a>
      <span class="post-title">{{ page.next.blogTitle }} &raquo;</span>
    </div>
    {% endif %}
  </div>

  {% include disqus.html %}
</div>
